@model IEnumerable<Raklet.Models.EntityDataModel.SOLUTION>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailProblems</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME_SURENAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_MAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SOLUTION1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUBJECT.PROBLEM)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME_SURENAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E_MAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUTION1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBJECT.PROBLEM)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SOLUTION_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.SOLUTION_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SOLUTION_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
